@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@layer base {
    html {
        /* Sets the root font size to 14px */
        /* font-size: 0.875rem; */
        /* font-size: 0.9375rem; */

        /* color: var(--color-gray-500); */
    }
}
